In [1]:
pip install pandas mysql-connector-python openpyxl

Requirement already satisfied: pandas in /Users/yan/opt/anaconda3/lib/python3.9/site-packages (1.3.4)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-py2.py3-none-any.whl (372 kB)
     |████████████████████████████████| 372 kB 5.8 MB/s eta 0:00:01
Requirement already satisfied: openpyxl in /Users/yan/opt/anaconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/yan/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/yan/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.17.3 in /Users/yan/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: et-xmlfile in /Users/yan/opt/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /Users/yan/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [17]:
# 读取 Excel 文件
df = pd.read_excel('/Users/yan/Desktop/client.xlsx')

# 查看数据
df.head()

            id nationality
0  AC000001297      Korean
1  AC000001657     Chinese
2  AC000001721     Chinese
3  AC000001725     Chinese
4  AC000001727     Chinese

In [4]:
print(df)

               id nationality
0     AC000001297      Korean
1     AC000001657     Chinese
2     AC000001721     Chinese
3     AC000001725     Chinese
4     AC000001727     Chinese
...           ...         ...
1438  AC000683356     Chinese
1439  AC000685728      Korean
1440  AC000695556      Korean
1441  AC000700312  Vietnamese
1442  AC000729115      Korean

[1443 rows x 2 columns]

In [29]:
# 统计每个 nationality 对应的客人数量
nationality_counts = df.groupby('nationality').size()

In [43]:
df2 = pd.DataFrame(nationality_counts, columns = ['sum_num'])
df2

                 sum_num
nationality
Chinese              637
Indonesian            65
Korean               560
VIC - Melbourne       15
Vietnamese           166

In [45]:
df2['sum_num'].sum()

1443

In [30]:
nationality_counts

nationality
Chinese            637
Indonesian          65
Korean             560
VIC - Melbourne     15
Vietnamese         166
dtype: int64

In [16]:
print(nationality_counts)

nationality
Chinese            637
Indonesian          65
Korean             560
VIC - Melbourne     15
Vietnamese         166
dtype: int64

In [6]:
# 读取 Excel 文件
df2 = pd.read_excel('/Users/yan/Desktop/raw_data.xlsx')

# 查看数据
df2.head()

,ID,Care Recipient ID (ACMPS),First Name,Last Name,Name,Team,Budget Item Income Code,Code,Budget Item Rate,Full Name,Nationality,Budget Status,whether repeated
0,AC000005359,412046116,Le Hua,ZHAO,HCP C Private,HCP C Private,ITCF - HCP C,NaN,0.00,Kevin LIU,Chinese,active,1
1,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,HCP C Subsidy Level 4,NaN,168.33,Kevin LIU,Chinese,active,0
2,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - Capital and Consumables Premium,1.00,Kevin LIU,Chinese,active,0
3,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - PC,60.26,Kevin LIU,Chinese,active,0
4,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - In-Home Respite,60.26,Kevin LIU,Chinese,active,0

In [7]:
df2.head(10)

,ID,Care Recipient ID (ACMPS),First Name,Last Name,Name,Team,Budget Item Income Code,Code,Budget Item Rate,Full Name,Nationality,Budget Status,whether repeated
0,AC000005359,412046116,Le Hua,ZHAO,HCP C Private,HCP C Private,ITCF - HCP C,NaN,0.00,Kevin LIU,Chinese,active,1
1,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,HCP C Subsidy Level 4,NaN,168.33,Kevin LIU,Chinese,active,0
2,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - Capital and Consumables Premium,1.00,Kevin LIU,Chinese,active,0
3,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - PC,60.26,Kevin LIU,Chinese,active,0
4,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - In-Home Respite,60.26,Kevin LIU,Chinese,active,0
5,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - Shopping,60.26,Kevin LIU,Chinese,active,0
6,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - Care Management L4,26.12,Kevin LIU,Chinese,active,0
7,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - Transport,60.26,Kevin LIU,Chinese,active,0
8,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - Package Management L4,19.59,Kevin LIU,Chinese,active,0
9,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - DA,60.26,Kevin LIU,Chinese,active,0

In [11]:
# 保留每个 id 的第一次出现
unique_ids_df = df2.drop_duplicataes(subset='ID')

In [12]:
unique_ids_df

,ID,Care Recipient ID (ACMPS),First Name,Last Name,Name,Team,Budget Item Income Code,Code,Budget Item Rate,Full Name,Nationality,Budget Status,whether repeated
0,AC000005359,412046116,Le Hua,ZHAO,HCP C Private,HCP C Private,ITCF - HCP C,NaN,0.00,Kevin LIU,Chinese,active,1
15,AC000002811,412047509,Jason,Kim,HCP,HCP Multicultural,NaN,HCP M - PC,60.26,Bora Han,Korean,active,1
29,AC000003439,412076895,Hea Sun,Chong,HCP M Private,HCP M Private,ITCF - HCP M,NaN,0.00,Sonia Rennie,Korean,active,1
37,AC000001831,412106384,Chau,SO,HCP,HCP Chinese,NaN,HCP C - PC,120.29,Kevin LIU,Chinese,active,1
48,AC000002103,412108729,Chun Ho,Tang,HCP,HCP Chinese,NaN,HCP C - Capital and Consumables Premium,1.00,Claire LO,Chinese,active,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18989,AC000337038,414989000,Ka Bi La,Kim,HCP,HCP Multicultural,HCP M Subsidy Level 3,NaN,111.04,Sunnie Ju,Korean,active,1
19004,AC000336972,414989116,Ja Min,Shin,HCP,HCP Multicultural,NaN,HCP M - PC,64.50,Connie Han,Korean,active,1
19019,AC000624932,414992255,Peifang,Zhu,HCP,HCP Chinese,NaN,HCP C - DA,64.50,Wen (Winnie) Gu,Chinese,active,1
19034,AC000631777,414992998,Hong,Lei,HCP C Private,HCP C Private,ITCF - HCP C,NaN,0.00,Wen (Winnie) Gu,Chinese,active,1
19049,AC000729115,415023759,Sun Ho,Park,HCP,HCP Multicultural,NaN,HCP M - In-Home Respite,64.50,Kwangmi Choi,Korean,active,1

In [13]:
del df

In [15]:
df2.head()

,ID,Care Recipient ID (ACMPS),First Name,Last Name,Name,Team,Budget Item Income Code,Code,Budget Item Rate,Full Name,Nationality,Budget Status,whether repeated
0,AC000005359,412046116,Le Hua,ZHAO,HCP C Private,HCP C Private,ITCF - HCP C,NaN,0.00,Kevin LIU,Chinese,active,1
1,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,HCP C Subsidy Level 4,NaN,168.33,Kevin LIU,Chinese,active,0
2,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - Capital and Consumables Premium,1.00,Kevin LIU,Chinese,active,0
3,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - PC,60.26,Kevin LIU,Chinese,active,0
4,AC000005359,412046116,Le Hua,ZHAO,HCP,HCP Chinese,NaN,HCP C - In-Home Respite,60.26,Kevin LIU,Chinese,active,0

In [46]:
# 统计每个 nationality 的数量（每个 id 只计算一次）
nationality_counts = unique_ids_df['nationality'].value_counts()

# 将结果转换为 DataFrame（可选）
nationality_counts_df = nationality_counts.reset_index(name='count')
nationality_counts_df.columns = ['nationality', 'count']

# 查看结果
print(nationality_counts_df)

NameError: name 'unique_ids_df' is not defined